[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "2.32.2"
beautifulsoup4 = "4.12.3"
protobuf = "3.20"

[dev-packages]
black = "24.4.2"

[requires]
python_version = "3.12"
